/* ----------- 💫 https://github.com/JaKooLit 💫 -------- */
/* .........................................*/
/* .............SciencerZ..................... */
/* ...................,.................... */

@import '../../.config/waybar/wallust/colors-waybar.css';

* {
	font-family: "JetBrains Mono Nerd Font";
	font-weight: bold;
	min-height: 0;		
	/* set font-size to 100% if font scaling is set to 1.00 using nwg-look */
	font-size: 97%;
	font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
}

window#waybar {
	background: @color5;
	color: @color5;
}

window#waybar.hidden {
	opacity: 0.5;
}

window#waybar.empty,
window#waybar.empty #window {
	padding: 0px;
	border: 0px;
	background-color: transparent;
}
/*-----module groups----*/
.modules-right {
	border: 3px solid @color12;
	border-radius: 100px 0px 0px 0px;
	background-color: @color9;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 4px;
	padding-left: 4px;
}

.modules-center {
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 4px;
	padding-left: 4px;
}

.modules-left {
	border: 3px solid @color12;
	border-radius: 0px 0px 100px 0px;
	background-color: @color9;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 4px;
	padding-left: 4px;
}

#workspaces button {
	color: @color8;
  box-shadow: none;
	text-shadow: none;
  padding: 0px;
  border-radius: 9px;
  padding-left: 4px;
  padding-right: 4px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button:hover {
	color: @color8;
	background-color: @color9;
  border-radius: 15px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.active {
	color: @color4;
	border-radius: 50%;
	background-color: @color9;
  padding-left: 8px;
  padding-right: 8px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.focused {
	color: @color8;
}

#workspaces button.urgent {
	color: @color8;
	border-radius: 10px;
}

#backlight,
#backlight-slider,
#battery,
#bluetooth,
#clock,
#cpu,
#disk,
#keyboard-state,
#memory,
#mode,
#mpris,
#network,
#power-profiles-daemon,
#pulseaudio,
#pulseaudio-slider,
#taskbar,
#temperature,
#tray,
#window,
#wireplumber,
#workspaces,
#custom-backlight,
#custom-cava_mviz,
#custom-cycle_wall,
#custom-hint,
#custom-keyboard,
#custom-light_dark,
#custom-lock,
#custom-menu,
#custom-power_vertical,
#custom-power,
#custom-updater,
#custom-weather,
#custom-weather.clearNight,
#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight,
#custom-weather.default, 
#custom-weather.rainyDay,
#custom-weather.rainyNight,
#custom-weather.severe,
#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight,
#custom-weather.sunnyDay {
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 6px;
	padding-left: 6px;
}

#custom-swaync,
#idle_inhibitor,
#clock {
  color: @color1;
}

#temperature.critical {
	background-color: #ff0000;
}

@keyframes blink {
	to {
		color: #000000;
	}
}

#taskbar button {
	background-color: @color1;
  padding-left: 12px;
  padding-right: 12px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
  margin-right: 5px;
  margin-left: 5px;
}

#taskbar button.active {
	background-color: @color1;
  padding-left: 12px;
  padding-right: 12px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
  margin-right: 5px;
  margin-left: 5px;
}

#taskbar button:hover {
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
    background-color: @color3;
}

#battery.critical:not(.charging) {
	color: #f53c3c;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#pulseaudio-slider slider {
	min-width: 0px;
	min-height: 0px;
	opacity: 0;
	background-image: none;
	border: none;
	box-shadow: none;
	background-color: @color6;
}

#pulseaudio-slider trough {
	min-width: 80px;
	min-height: 5px;
	border-radius: 5px;
	background-color: @color4;
}

#pulseaudio-slider highlight {
	min-height: 10px;
	border-radius: 5px;
	background-color: @color2;
}

#backlight-slider slider {
	min-width: 0px;
	min-height: 0px;
	opacity: 0;
	background-image: none;
	border: none;
	box-shadow: none;
	background-color: @color6;
}

#backlight-slider trough {
	min-width: 80px;
	min-height: 10px;
	border-radius: 5px;
	background-color: @color4;
}

#backlight-slider highlight {
	min-width: 10px;
	border-radius: 5px;
	background-color: @color2;
}
